@tailwind base;
@tailwind components;
@tailwind utilities;
  
@layer base {
  h1  {
    @apply font-extrabold text-2xl md:text-[50px]
  };
}

@layer components {
  .onyomi-text {
    @apply w-20 sm:w-32 md:w-fit truncate text-nowrap text-xs md:text-sm font-light
  };

  .onyomi-romaji-text {
    @apply w-20 sm:w-32 md:w-fit truncate text-nowrap text-xs md:text-sm text-[#949494] font-light
  };

  .kunyomi-text {
    @apply w-20 sm:w-32 md:w-40 truncate text-nowrap text-xs md:text-sm font-light
  }

  .kunyomi-romaji-text {
    @apply w-20 sm:w-32 md:w-40 truncate text-nowrap text-xs md:text-sm text-[#949494] font-light
  }

  .vertical-separator {
    @apply h-auto border-l-[1px] border-l-[#D0D0D0]
  }

  .dialog-content {
    @apply sm:max-w-[425px] bg-white dark:bg-zinc-900 dark:border-zinc-800
  }
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}